 body {
  margin: 0 0 0 0;
  background-color: #2c3e50;
  animation-name: sky;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes sky{
  0%{
    background-color: #253748;  
  }
  10%{
    background-color: #ffb7bb ;  
  }
  30%{
    background-color: #008edc;  
  }
  70%{
    background-color: #008edc;  
  }
  90%{
    background-color: #ffb7bb ;  
  }
  100%{
    background-color: #253748;  
  }
}

.grass {
  background: green;
  height: 600px;
  width: 100%;
  position: absolute;
}

.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sun{
  0%{
    background-color: #ff8c02;
    transform: translate(-200px, 200px);
  }
  25%{
    background-color: #f9b900;
    transform: translate(330px, 0px);
  }
  50%{
    background-color: #f9b900;
    transform: translate(860px, -50px);
  }
  75%{
        background-color: #f9b900;
        transform: translate(1390px, 0px);
  }
  100%{
        background-color: #e13f01;
        transform: translate(1920px, 200px);
  }
}